asgiref==3.6.0
cffi==1.15.1
cryptography==41.0.1
Django==4.2
django-cors-headers==4.1.0
django-extensions==3.2.3
django-rest-knox==4.2.0
djangorestframework==3.14.0
drf-yasg==1.21.6
graphviz==0.20.1
gunicorn==21.2.0
inflection==0.5.1
packaging==23.1
Pillow==10.1
pycodestyle==2.7.0
pycparser==2.21
pydot==1.4.2
pyparsing==3.1.0
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
uritemplate==4.1.1
whitenoise==6.5.0

PyYAML==6.0
